<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.utkarshnew.android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Utils.MakeMyExam"
        android:allowBackup="false"
        android:appComponentFactory="whateverString"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeOwn"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:icon,android:allowBackup,android:usesCleartextTraffic,android:appComponentFactory">

        <activity
            android:name=".Login.Activity.LoginWithOtp"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/customThemeForSigninActivity"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity"
            />

        <activity
            android:name=".feeds.activity.FeedDetails"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feeds.activity.PinnedPostActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".purchasehistory.PurchaseHistoryDetail"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false" />

        <activity
            android:name=".feeds.activity.FeedVideoPlayer"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Intro.Activity.IntroActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feeds.activity.FeedsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Coupon.Activity.CouponPurchaseActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Coupon.Activity.EligibleCoursesActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Coupon.Activity.CouponActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testmodule.activity.TestSubmissionActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Player.CustommediaPlayerDialog"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Notification.NotificationDescription"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <receiver android:name=".Utils.Service.MyFirebaseMessagingService$CancelNotification"/> -->
        <activity
            android:name=".Login.Activity.SplashScreen"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://www.ibtindia.com"
                    android:scheme="http" />
                <data
                    android:host="https://www.ibtindia.com"
                    android:scheme="https" />
                <data
                    android:host="utkarshnew.page.link"
                    android:pathPattern=".*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="fr.maxcom.libmedia.apiKey"
            android:value="IlX1RejlHHObOLiBQ2NYVpYNWBB5gar78Tspqy1PA1JSSlAdXscBFmRxAmbZz2A9lDFcsi4K2PN0GQfwOlgKwmLZm7gAAAAA2w20tc0WsvrKEbH13RX3+tYGq/TRBg==" />

        <activity
            android:name=".courses.Activity.Concept_newActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />


        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".Utils.TestService" />

        <activity
            android:name=".purchasehistory.PurchaseHistory"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <!--
 <activity
            android:alwaysRetainTaskState="true"
            android:name="com.utkarsh.android.Login.Activity.SplashScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".home.Activity.LibrariesUsedActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Activity.SettingsActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Activity.ChatBotActvity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.Activity.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Login.Activity.LoginCatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Login.Activity.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/customThemeForSigninActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".courses.Activity.CourseActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".courses.Activity.QuizActivity"
            android:alwaysRetainTaskState="true"

            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".courses.Activity.SearchActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.Activity.MyLibraryActivty"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiveTest.Activity.LivetestActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiveClass.Activity.LiveClassActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Webview.SearchRevisionVideosActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Webview.RevisionActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Notification.Notification"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateTest.Activity.CreateTestActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CourseTransfer.CourseTransferActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MigrateUser.MigrateUserActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".testmodule.activity.VideoPlayActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Webview.RevisionSolutionActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".CreateTest.Activity.CreateTestSolutionActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Webview.RevisionTest"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Payment.PurchaseActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".testmodule.activity.TestBaseActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".CreateTest.Activity.TestCreateActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".testmodule.activity.ViewSolutionActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Webview.FlashcardActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".courses.Activity.PdfDetailScreen"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".Player.CustomMediaPlayer"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Download.DownloadActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Webview.WebViewActivty"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Webview.PdfHtmlAcivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Download.DownloadVideoPlayer"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserHistory.UserHistoryActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".courses.Activity.ConceptScreen"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".courses.Activity.WebFragActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".helpChat.HelpSupportActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".helpChat.HelpChatActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".helpChat.HelpQueryActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".courses.Activity.MyNotesActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".courses.Activity.MyNotesSelectionActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Login.Activity.PermissionSettingActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Player.Liveawsactivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Player.DrmVideoPlayerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity="" />
        <activity
            android:name=".JWextractor.JWVideoPlayer"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
                <data android:scheme="ssai" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Download.AudioPlayerActivty"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".DownloadServices.VideoDownloadService"
            android:exported="true" />
        <service
            android:name=".Download.Audio.AudioPlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">

        </service>

        <service
            android:name=".Utils.Service.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Utils.Service.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <!--     <receiver
                 android:name=".Sms.SmsReceiver"
                 android:exported="true">
                 <intent-filter>
                     <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
                 </intent-filter>
             </receiver>
     -->
        <activity
            android:name=".CourseTransfer.OtpActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
    </application>

</manifest>